*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
nav{
    background-color: rgb(94, 94, 237);
    color:aliceblue;
    height:60px;
   display: flex;
    justify-content: space-evenly; 
    align-items: center;


}
.body{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main{
    display: flex;
    align-items:center ;
    justify-content: space-evenly; 
    align-items: center;
}
img{
    border-radius:50%;
}